/*[fmt]2A10-1A0B-3*/
@font-face { font-family: 'myriad_pro_bold_condensed';    src: url('../../fonts/myriad-pro-bold-condensed-webfont.eot'); }
@font-face { font-family: 'myriad_pro_bold_condensed'; 
	    src: url('../../fonts/myriad-pro-bold-condensed-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../../fonts/myriad-pro-bold-condensed-webfont.woff') format('woff'),
    	     url('../../fonts/myriad-pro-bold-condensed-webfont.ttf') format('truetype'),
        	 url('../../fonts/myriad-pro-bold-condensed-webfont.svg#MyriadProBoldCondensed') format('svg');
    	font-weight: normal !important;
    	font-style: normal;

}

body {
	background:url(../../images/body-1.jpg) top center fixed no-repeat #fff;
	color: #555555;
	margin: 0;
	padding: 0;
	font-size:14px;
}
p { margin-bottom:20px; }

#wrapper  {
	background:url(../../images/layout/wrapper.png) bottom center fixed no-repeat;
}

* html #wrapper  {
	height: 1%;
}

#header  {
 margin: 0 auto;
 padding: 0;
 width: 960px;
 height:150px;
 background:url(../../images/layout/header-1.jpg) no-repeat;
}

#headerWrapper  {text-align:center; 
}
#header h1, #header h2  {
	margin:0 auto; 
	display:block; 
	width:320px;
	text-align:center; 
	font-variant:small-caps; 
	font-weight:bold;
	line-height:normal;
	letter-spacing:1.2px; 
	font-family:myriad_pro_bold_condensed, Geneva, Arial, Helvetica, sans-serif;/*Georgia, "Times New Roman", Times, serif; */
	position:absolute;
}
#header h1  {
	margin:50px 0 0 300px;
	padding:4px 10px 0; 
}
#header h2  {
	margin:78px 0 0 300px;
	padding:0 10px 4px; 
}


#header h1 a  {
	border: 0;
	color:#000;
	font-size:22px; 
	text-transform:lowercase; 
}
#header h2 a  {
 	border: 0;
 	color:#000;
 	font-size: 40px; 
	line-height:40px;
}
#systemNotices  {
 margin: 0 auto;
 padding: 10px 0;
 text-align: left;
 width: 930px;
}

#systemNotices ul  {
 margin: 0;
 padding: 0 0 0 15px;
}

#systemNotices a, #systemNotices a:hover  {
 border: 0;
 text-decoration: underline;
}

/*--------------------  top user nav ---------------------*/
#userboxWrapper  {
	background:url(../../images/layout/bar.png);
	color: #666666;
	position:absolute;
	font-size: 14px;
	width: 960px;
	height:32px;
	z-index: 250;
	top:0; text-align:left;
}
/*-------------------- general userbox links---------------------*/
#account_more_menu  {
	position:absolute;
	right:0;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index:10000;
	
}

#account_more_menu>li  {
 border-right:none;
 float: left;
 list-style: none;
 margin: 0 10px 0 0;
 padding: 0 !important;
}

#account_more_menu>li>a  {
	background: url(../../images/layout/bg_dropdown_arrow.png) center right no-repeat;
	border: none;
	color: #fff;
	display: block;
	padding: 0px 17px 0px 6px;
	line-height:32px;
}

#account_more_menu>li>a:hover  { background-image:none; }
#account_more_menu>li>a#logout { background-image:none; padding-right:6px; }
/*-------------------- submenus---------------------*/
#account_more_menu ul  {

 background-color: #FFFFFF;
 border: 1px solid #CCCCCC;
 clear: left;
 font-weight: normal;
 line-height: 120%;
 list-style: none;
 margin: 0;
 padding: 0;
 position: absolute;
 width: 230px;
-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,.1);
-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,.1);
box-shadow: 0px 0px 5px 5px rgba(0,0,0,.1);
-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-o-transition: all .2s ease;
transition: all .2s ease;
display:none; opacity:0;
}
#account_more_menu li:hover ul { display:block; opacity:1; 
 }

#account_more_menu ul li  {
 background: #e6e6e6;;
 border: none;
 float: none;
 font-size: 12px;
 list-style: none;
 list-style-image: none !important;
 margin: 0;
 padding: 0;
 
}

* html #account_more_menu ul li, * html #account_more_menu ul li a  {
 height: 1%;
}

#account_more_menu h6  {
 background-color: #F5F5F5;
 border-bottom: 1px solid #8DBBCE;
 color: #333333;
 font-size: 12px;
 font-weight: bold;
 margin: 0;
 padding: 3px 10px !important;
}

/*-------------------- second level links ---------------------*/
#account_more_menu ul li span  {
 margin: 0;
 padding: 2px 10px !important;
 display:block;
 font-size:11px;
 text-transform:uppercase;
 line-height:12px;
 color:#444;
 border-top:20px solid #e6e6e6;
 border-bottom: 1px solid #D8D8D8;
}

#account_more_menu ul li a  {
 background-image: none !important;
 border: none;
 border-bottom: 1px solid #D8D8D8;
 font-size: 14px;
 font-weight: normal;
 height: auto;
 line-height: 16px;
 margin: 0;
 padding: 7px 10px !important;
 
	color: #fff;
	display: block;
	font-variant:small-caps;
}

#account_more_menu ul li a:hover  {
 background-color: #E9F2F7;
 color: #0079AF;
 text-decoration: none;
}

#account_more_menu li:hover ul ul, #account_more_menu li:hover ul ul ul, #account_more_menu li.sfhover ul ul, #account_more_menu li.sfhover ul ul ul  {
 left: -999em;
}

#account_more_menu li:hover ul, #account_more_menu li li:hover ul, #account_more_menu li li li:hover ul, #account_more_menu li.sfhover ul, #account_more_menu li li.sfhover ul, #account_more_menu li li li.sfhover ul  {
 left: auto;
/*lists nested under hovered list items*/
}

/*-------------------- 1st level  hover---------------------*/
#account_more_menu li:hover a, #account_more_menu li.sfhover a  {
 background-color: #F8F8F8;
 color: #777777;
}

/*-------------------- second level on hover---------------------*/
#account_more_menu li li:hover a, #account_more_menu li li.sfhover a  {
 background-color: transparent;
 color: #777777;
}

#account_more_menu li:hover li a:hover, #account_more_menu li.sfhover li a:hover  {
 background-color: #fcec95;
 color: #777777;
}

/*-------------------- ie mac fixes ---------------------
only IE mac will see this*/
* html>body #account_more_menu li a  {
}

* html>body #account_more_menu li  {
 text-align: center;
 white-space: nowrap;
 width: 60px;
}

* html>body #account_more_menu li li  {
 text-align: left;
 white-space: nowrap;
 width: 125px;
}

* html>body #account_more_menu li li:hover ul, #account_more_menu li li.sfhover ul  {
 left: 110px;
}

/*======================================== Main Menu Tabs============================================*/
#tabsWrapper  {
	min-height: 32px;
	padding: 0;
	margin:0;
	width:100%;
}

#tabs  {
	width:960px;
	margin:0 auto;
	min-height: 32px;
 padding: 0;
 text-align: left;
	background:url(../../images/layout/bar.png);
}

#tabs ul  {
 list-style: none;
 list-style-image: none;
 margin: 0;
 padding: 0 ;
}

#tabs ul li  {
 border: none;
 float: left;
 list-style: none;
 margin: 0 2px 0 0;
}

#tabs ul li a  {
	-webkit-transition: background .2s ease;-moz-transition: background .2s ease;-o-transition: background .2s ease;transition: background .2s ease;
	-webkit-border-top-left-radius: 6px;-webkit-border-top-right-radius: 6px;-moz-border-radius-topleft: 6px;-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;border-top-right-radius: 6px;
	border: 0; display: block; line-height: 32px; padding: 0 15px; text-decoration: none;	
	font-size: 18px; font-family: myriad_pro_bold_condensed, Geneva, Arial, Helvetica, sans-serif; font-weight: normal;
	color: #eee;	
}

#tabs ul li a:hover  { text-decoration: none; color: #000; background-color:#ffc; }

#tabs ul li.active a  {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(238,238,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(238,238,238,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,1) 1%,rgba(238,238,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	border-left:1px solid #aaa; border-right:1px solid #999;
	position: relative;
	color: #444;
}

#tabs ul li.active a:hover  {
	 color: #000;
 text-decoration: none;
}

/** Crumbs **/
#crumbsWrapper  {
 
	height: 32px;
	padding: 0;
	margin:0;
	width:100%;	
}

#crumbsBlock  {
background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(238,238,238,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
	height: 32px;
 font-size: 13px;
 line-height: 32px;
 margin: 0 auto;
 padding: 0;
 text-align: left;
 width: 960px;
}

* html #crumbsBlock  {
 padding: 0 10px;
}

#crumbs  {
 float: left;
}

#crumbs ul  {
 list-style: none;
 margin: 0;
 padding: 0 0 0 15px;
}

#crumbs ul li  {
 color: #FFFFFF;
 display: block;
 float:left;
 font-size: 14px;
 font-weight: bold;
 line-height: 32px;
}

#crumbs ul li:hover  {
 	font-weight: bold;
 	color: #000;
}

#crumbs ul li a  {
 	border: 0;
 	color: #333;
 	font-weight: bold;
 	margin: 0;
 	text-decoration: none;
 	line-height:32px;
 	height:32px;
display: block;
 	padding: 0 8px 0 18px;
 	background:url(../../images/layout/bg_right_arrow.png) left  center no-repeat;
}
#crumbs ul li span { text-transform:uppercase;
	
 font-size: 13px;
 	padding: 0 8px 0 18px;
 background:url(../../images/layout/bg_right_arrow.png) left  center no-repeat;
 	font-weight: bold;
 	color: #000;
	}
/*bg_crumbs-hover.png */
#crumbs ul li a:hover  {
	text-shadow:none;
	text-decoration: none;
	background-color:#ffc;
}

#crumbs ul li a span {

 	padding: 0;
	background:none !important;
	}
#searchBox  {
 padding: 0 10px;
 text-align: right;
}

#searchBox input  {
	background:none;
 border: 1px solid #999999;
 font-family: calibri, tahoma, verdana, arial, helvetica, sans-serif;
 font-size: 12px;
 padding: 2px 5px;
 width: 150px;
}

#searchBox input:focus  {
 background: #F8F8F8;
 border: 1px solid #666666;
}

#searchBox button  {
 display: none;
 font-size: 11px;
}

/** Content **/
#outerContentWrapper  {
 clear: both;
}

/* --- VIEW TOGGLE --- */
#viewToggle {
	float: right;
	margin: 0px 5px 0px 0px;
 	line-height: 28px;
	list-style: none;
	padding: 0;
}

/* --- PAGE ACTIONS FOR DASHBOARD -- */
#page_actionsWrapper { 	width:100%;}
#page_actionsBlock {	width:960px;	margin:0 auto;}
#page_actions ul { list-style: none outside none; margin:20px 0 0 10px; }

/* --- PAGE ACTIONS IN GENERAL --- */
ul#page_menu {
	float: right;
	margin: 0px 275px 0px 0px;
 	line-height: 22px;
 	padding: 0;	
 	list-style: none outside none; 
}
#page_actions ul>li,
ul#page_menu>li  {
 	float: left;
 	font-size: 12px;
 	font-weight: bold;
 	margin: 0;
 	padding: 0; 
}
#page_actions ul>li>a,
ul#page_menu>li>a,
ul#page_menu ul:before { 
		border:1px solid #ccc; background:#ccc; color:#333; padding:0 5px; margin:0 5px 0 0; display:inline-block;
		font-size:13px; font-weight:bold; text-transform:uppercase;
		-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
		background: rgb(246,246,246);
		background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(255,255,255,1) 19%, rgba(240,240,240,1) 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,246,246,1)), color-stop(19%,rgba(255,255,255,1)), color-stop(100%,rgba(240,240,240,1))); 
		background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(255,255,255,1) 19%,rgba(240,240,240,1) 100%); 
		background: -o-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(255,255,255,1) 19%,rgba(240,240,240,1) 100%); 
		background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(255,255,255,1) 19%,rgba(240,240,240,1) 100%); 
		background: linear-gradient(top, rgba(246,246,246,1) 0%,rgba(255,255,255,1) 19%,rgba(240,240,240,1) 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f0f0f0',GradientType=0 ); 
	}
#page_actions ul>li>a:hover,
ul#page_menu>li>a:hover {  background:#f0f0f0; color:#900;}
/*---*/
/*---*/

/*--- PAGE MENU DROPDOWN ---*/
/*ul#page_menu ul:before {
	content:'';
	background:url(../../images/layout/actions.png) no-repeat;
	border:none;
	width:77px;
	height:24px;
	margin-top:-24px; 
	margin-left:-55px;
	display:block;
	}
ul#page_menu>li:hover ul:before {
	background:url(../../images/layout/actions.png) no-repeat 0 -25px;
	}*/
ul#page_menu ul {
 	clear: left;
 	font-weight: normal;
 	line-height: 120%;
 	list-style: none;
 	margin: 0;
 	padding: 0;
 	position: absolute;
	z-index:110;  /* progressbar is at 100; we need to be above that */
	
	
}
ul#page_menu>li ul li { display:none; border-left: 1px solid #CCCCCC;  border-right: 1px solid #CCCCCC;  margin-top:-1px; 
	 }
ul#page_menu>li:hover ul li { display:block;   }

ul#page_menu ul li:first-child  {	border-top: 1px solid #CCCCCC;	}
ul#page_menu ul li:last-child  {	border-bottom: 1px solid #CCCCCC;	}
ul#page_menu ul li  {
	background:#f6f6f6;
 border: none;
 float: none;
 font-size: 12px;
 list-style: none;
 list-style-image: none !important;
 margin: 0;
 padding: 0;
 
}
ul#page_menu ul li a {
 text-align:left;
 	line-height: 28px;
 	border-right: 1px solid #DAE6B5;
 	color: #5C6C2D;
 	display: block;
 	padding: 0px 8px;
 	text-decoration: none;
}	
ul#page_menu ul li a:hover  {
 	color: #000000;
	border-bottom:none;
	background:#ffffcc
}

/*---PAGE MENU TITLE---*/
ul#page_menu a#page_menu_title { 
	display:block; height:25px;
	padding:0 25px 0 10px;
	border:1px solid #ccc; color:#333;font-size:13px; font-weight:bold; text-transform:uppercase;
	-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
	
	background:url(../../images/layout/down-arrow.png) right top  no-repeat !important;
	}
ul#page_menu:hover a#page_menu_title { 
	color:#900;
	background:url(../../images/layout/down-arrow.png) right -25px  no-repeat !important;
	}
/* html #account_more_menu ul li, * html #account_more_menu ul li a  {
 height: 1%;
}
/*-------------------- main content wrapper---------------------*/
#innerContentWrapper  {

 margin: 0px auto;
 padding: 10px 15px;
 text-align: left;
 width: 930px;
 min-height:600px;
 clear:both;
}

#pageTitle  {
 color: #000000;
 font-size: 22px;
 font-weight: bold;
 margin-left: 15px;
 width: 640px;
}

#pageContent  {
}

#content  {
 float: left;
 padding: 5px 15px;
 width: 640px;
}

/*--------------------  Sidebar ---------------------*/
#sidebar  {
 font-size: 12px;
 margin-left: 680px;
 padding: 10px 15px;
}

#sidebar h2  {
 font-size: 14px;
 margin-top: 0;
}

#sidebar li  {
 padding: 2px 0;
}

#sidebar .blockContent  {
 line-height: 120%;
 margin-bottom: 10px;
 padding: 0 5px;
}

#sidebar .blockContent form div a  {
}

#sidebar .listWithDetails li  {
 padding-bottom: 5px;
 /*[empty]overflow:;*/
}

#sidebar a { border-bottom: 1px dotted #ddd;color: #925D25; }
#sidebar a:hover { color: #f90;  border-bottom: 1px dotted #F90;}

/*--------------------  Footer ---------------------*/
#footer  {
background: rgb(240,240,240); /* Old browsers */
background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(240,240,240,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

 
	border-top:1px solid #999;
 clear: both;
 color: #999999;
 font-size: 10px;
 margin: 0 auto;
 padding: 5px 20px;
 text-align: left;
 width: 920px;
}

#footer a  {
 border-bottom-color: #CCCCCC;
 color: #999999;
}

#copy  {
 float: left;
}

#productSignature  {
 text-align: right;
}

#listOfRssFeeds  {
 list-style: none;
 list-style-image: none;
 padding: 0 0 0 4px;
}

#listOfRssFeeds li  {
 background: url('../../images/icons/feed.gif') no-repeat;
 line-height: 12px;
 list-style-image: none;
 margin: 2px 0;
 padding-left: 16px;
}

/** Helper classes **/
.clear  {
 clear: both;
 height: 1px;
 overflow: hidden;
}

#error, #success  {
 border: 1px solid #CCCCCC;
 clear: both;
 cursor: pointer;
 font-weight: bold;
 margin: 10px 15px;
 padding: 5px 10px;
 text-align: left;
}

#error  {
 border: 1px solid #EFCAB9;
 padding: 5px;background: -moz-linear-gradient(top, rgba(255,237,237,1) 0%, rgba(255,216,217,0.24) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,237,237,1)), color-stop(100%,rgba(255,216,217,0.24))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,237,237,1) 0%,rgba(255,216,217,0.24) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,237,237,1) 0%,rgba(255,216,217,0.24) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,237,237,1) 0%,rgba(255,216,217,0.24) 100%); /* IE10+ */
background: linear-gradient(top, rgba(255,237,237,1) 0%,rgba(255,216,217,0.24) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeded', endColorstr='#3dffd8d9',GradientType=0 ); /* IE6-9 */
}

#success  {
 background: url(../../images/layout/bg_success.png) repeat-x top center;
 background-color: #FAF9E4;
 border: 1px solid #F2EEB7;
 margin-bottom: 10px;
 padding: 5px;
}

#innerContentWrapper #success, #innerContentWrapper #error  {
 width: 640px;
}

/** User card **/
div.card  {
 background: #F5F5F5 url('../../images/logtypes/old.gif') repeat-x top right;
 border: 1px solid #E0E0E0;
 padding: 10px;
}

.favorite { height: 19px; width: 20px; margin: 2px; overflow: hidden; float: right; position: relative; top: -4px; }
.favorite.off img { position: relative; top: -19px; }
.favorite.on img { position: relative; top: 0px; }

* html div.card  {
 padding-top: 5px;
}

div.card div.cardIcon  {
 background: #F5F5F5 url('../../images/logtypes/old.gif') repeat-x top right;
 border: 1px solid #E0E0E0;
 float: left;
 margin: 5px;
 padding: 5px;
}

div.card div.cardData  {
 margin-left: 80px;
}

div.card div.cardData h2  {
 margin-top: 0;
}

div.card div.cardBlock  {
 margin-bottom: 25px;
 padding-left: 10px;
}

div.card div.cardBlock span  {
 color: #333333;
 font-weight: bold;
}

div.card table  {
 margin-top: 10px;
}

div.card table, div.card table tr, div.card table td  {
 border: 0;
}

div.card table tr, div.card table td  {
 padding: 2px;
}

/** / user card *
* Advanced pagination **/

/* Advanced pagination **/

#alphabet { width: 100%; margin-bottom:8px;  }
#alphabet .letter { margin: 0px 1px 0 0;}
#alphabet .letter .disabled { color: #aaa;}

#alphabet .letter a, #alphabet .letter strong {
	border: 1px solid #CCC;
	background: #CCC;
	color: #333;
	padding: 0 5px;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-border-radius: 5px;	-moz-border-radius: 5px;border-radius: 5px;
	background: #F6F6F6;
	background: -moz-linear-gradient(top, rgba(246, 246, 246, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(240, 240, 240, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246, 246, 246, 1)), color-stop(19%,rgba(255, 255, 255, 1)), color-stop(100%,rgba(240, 240, 240, 1)));
	background: -webkit-linear-gradient(top, rgba(246, 246, 246, 1) 0%,rgba(255, 255, 255, 1) 19%,rgba(240, 240, 240, 1) 100%);
	background: -o-linear-gradient(top, rgba(246, 246, 246, 1) 0%,rgba(255, 255, 255, 1) 19%,rgba(240, 240, 240, 1) 100%);
	background: -ms-linear-gradient(top, rgba(246, 246, 246, 1) 0%,rgba(255, 255, 255, 1) 19%,rgba(240, 240, 240, 1) 100%);
	background: linear-gradient(top, rgba(246, 246, 246, 1) 0%,rgba(255, 255, 255, 1) 19%,rgba(240, 240, 240, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f0f0f0',GradientType=0 );
	border-image: initial;}
#alphabet .letter strong { background:#e0e0e0; color:#000; }
#alphabet .letter a:hover { color:#900; background:#F0F0F0; }

div.advancedPagination  {
 background: url('../../images/logtypes/old.gif') whiteSmoke repeat-x top right;
 border: 1px solid #E0E0E0;
 min-height: 20px;
 padding: 2px 5px;
}

div.advancedPagination span  {
 line-height: 20px;
}

div.advancedPagination select  {
 padding: 0;
}


/** /Advanced pagination */

/** /Advanced pagination *
* Private **/
div.private  {
 background: url('../../images/icons/private.gif') no-repeat;
 float: right;
 height: 14px;
 margin-left:14px;
}

div.private span  {
	margin-left:15px;
	font:9px/14px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	display:inline-block;
}

#sidebar .listWithDetails li a  {
 /*width: 100%; removed for 8.8 */
 overflow: hidden;
 display: inline-block;
}

.debug { text-indent:0; background:#fff; z-index:9999; padding:5px; border:1px dashed #f90; margin:5px; display:inline-block; clear:left; }

#memo{
	position:fixed;bottom:-230px;right:10px;background-color:#FAF9E4;height:250px;width:250px;font-weight: bold;font-size:14px;border:1px solid black;padding:2px;z-index: 9998;filter:alpha(opacity=90);-moz-opacity:0.9;opacity: 0.9;-moz-border-radius:5px;border-radius: 5px;-webkit-transition: 0.2s; -moz-transition: 0.2s; transition: 0.2s;
	}
#memo:hover{bottom:0;}
#memo .header{ line-height:18px;text-align:center;background-color:#FAF9E4; color: black; background:url(../../images/icons/down-arrow.gif) top right no-repeat; margin-right:2px; margin-top:2px;}
#memo:hover .header { background-image:none; }
#memo textarea{width:240px;height:210px;margin:0px;background:transparent;border:none;color:black}
#memo .content { margin-left: 0px; }
